<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/modify.css}">
    <script type = "text/javascript" >  
        function preventBack(){
          window.history.forward();
        }   
        setTimeout("preventBack()", 0);  
        window.onunload = function () { null };  
    </script> 
</head>
<body>
	<h2>Product Modification</h2>       
    <form th:action="@{/updateProduct}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}">
        Name: <input type="text" th:field="*{name}" required>
        Price: <input type="number" th:field="*{price}" step="0.01" required>
        Brand: <input type="text" th:field="*{brand}" required><br>
		Category: <input type="text" th:field="*{category}" >
		Description: <input type="text" th:field="*{descp}">
		Quantity<input type="text" th:field="*{quantity}" required><br>
		Release Date: <input type="date" th:field="*{releaseDate}" >
		Availablity: <input type="checkbox" th:field="*{available}">
		
        <button type="submit">Save Changes</button>
           <a th:href="@{/products}">
        <button>Back to Products</button>
        </a>
    </form>

    <div th:if="${successMessage}" style="color: green; font-weight: bold; margin-bottom: 10px;">
    <p th:text="${successMessage}"></p>
</div>
</body>
</html>