form {
    margin: 20px auto;
    width: 60%;
    margin-left: 27.5%;
    display: flex;
    flex-direction: column;
}

input[type="checkbox"]{
	width: 30%;
}

input,select{
    margin: 8px 0;
    width: 60%;
    border-radius: 4px;
    height: 20px;
}
 button {
    margin: 8px 0;
    width: 60%;
}
 .btn{
 	margin: 8px 0;
    width: 60%;
    margin-left: 44.5%;
	background-color: #0000ff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
 }